[submodule "QUnitTestRunnerPlugin"]
	path = QUnitTestRunnerPlugin
	url = git://github.com/lfryc/QUnitTestRunnerPlugin.git
[submodule "qunit"]
	path = qunit
	url = git://github.com/jquery/qunit.git
[submodule "sizzle"]
	path = sizzle
	url = git://github.com/jquery/sizzle.git
